@import '../../styles/config';

.rsg__notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: transform $speed $ease, opacity $speed $ease;
  border-radius: 0;
  margin: 0;
  opacity: 0;
  transform: translateY(-100%);

  &.rsg__notification--active {
    transform: translateY(0);
    opacity: 1;
  }

  &.rsg__notification--bottom {
    top: auto;
    bottom: 0;
    transform: translateY(100%);
  }

  .rsg__alert__inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
