@import '../../styles/config';

@mixin inputSizesBuilder($map: ()) {
  padding: map-get($map, 'padding');
  font-size: map-get($map, 'font-size');
  min-height: map-get($map, 'min-height');
}

$InputSizes: (
  extraSmall: (
    padding: 0 $paddingExtraSmall,
    font-size: $fontSizeExtraSmall,
    min-height: 32px
  ),
  small: (
    padding: $paddingExtraSmall $paddingSmall,
    font-size: $fontSizeSmall,
    min-height: 32px
  ),
  normal: (
    padding: $paddingSmall $padding,
    font-size: $fontSizeNormal,
    min-height: 40px
  ),
  large: (
    padding: $padding $paddingLarge,
    font-size: $fontSizeLarge,
    min-height: 56px
  ),
  extraLarge: (
    padding: $paddingLarge $paddingExtraLarge,
    font-size: $fontSizeExtraLarge,
    min-height: 88px
  )
);

@mixin inputRadiusBuilder($map: ()) {
  border-radius: map-get($map, 'border-radius');
}

$inputRadius: (
  extraSmall: (
    border-radius: 8px
  ),
  small: (
    border-radius: 16px
  ),
  normal: (
    border-radius: 24px
  ),
  large: (
    border-radius: 32px
  ),
  extraLarge: (
    border-radius: 48px
  )
);

.rsg__input__wrapper {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;

  &.rsg__input__wrapper--block,
  &.rsg__input__wrapper--textarea {
    width: 100%;
  }
}

.rsg__input {
  @include inputSizesBuilder(map-get($InputSizes, 'normal'));
  background-color: $white;
  border-color: $borderColor;
  border-radius: $radius;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: $textColor;
  cursor: text;
  display: inline-flex;
  font-family: $sansSerif;
  font-weight: $fontWeightLight;
  line-height: normal;
  text-decoration: none;
  vertical-align: middle;
  transition: background-color $speed $ease, border-color $speed $ease;
  position: relative;
  margin: 0;
  text-overflow: ellipsis;
  box-shadow: none;
  overflow: hidden;

  &:focus,
  &:hover {
    background-color: $greySmoke;

    .rsg__input__icon {
      fill: $primary;
    }
  }

  &:active,
  &:focus {
    color: $primary;
    border-color: $primary;
    background-color: $white;
    outline: none;
    box-shadow: 0 0 10px rgba($primary, 0.33);

    .rsg__input__icon {
      fill: $primary;
    }
  }

  &.rsg__input--type--color {
    padding: 0;
  }

  &.rsg__input--type--date,
  &.rsg__input--type--time {
    line-height: 1;
  }

  @each $sizeLabel, $map in $InputSizes {
    &.rsg__input--#{$sizeLabel} {
      @include inputSizesBuilder($map);
    }
  }

  &.rsg__input--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: $greySmoke;
    border-color: $greyLight;
  }

  &.rsg__input--rounded {
    border-radius: 24px;

    @each $sizeLabel, $map in $inputRadius {
      &.rsg__input--#{$sizeLabel} {
        @include inputRadiusBuilder($map);
      }
    }
  }

  &.rsg__input--squared {
    border-radius: 0;
  }

  &.rsg__input--block {
    display: block;
    width: 100%;
  }

  &.rsg__input--type--textarea {
    width: 100%;
    resize: vertical;
    min-height: 88px;
    padding-top: $paddingSmall;
    padding-bottom: $paddingSmall;
  }

  &.rsg__input--error {
    border-color: $danger;
    color: $danger;
    background-color: $dangerSmoke;
  }
}

.rsg__text.rsg__input__errorMessage {
  padding-bottom: $paddingExtraSmall;
}
