@import '../../styles/config';

.rsg__menu {
  box-sizing: border-box;
  display: inline-block;
  box-shadow: $shadowLarge;
  border-radius: $radius;
  border: 1px solid $borderColor;
  background-color: $white;

  .rsg__separator {
    margin: 0;
  }
}
