$radius: 2px;
$radiusLarge: 8px;
$radiusRounded: 16px;
$paddingExtraSmall: 8px;
$paddingSmall: 16px;
$padding: 24px;
$paddingLarge: 32px;
$paddingExtraLarge: 64px;
$minWidthMenu: 160px;

$paddingSizes: (
  'extraSmall': $paddingExtraSmall,
  'small': $paddingSmall,
  'normal': $padding,
  'large': $paddingLarge,
  'extraLarge': $paddingExtraLarge
);
