@import '../../styles/_config';

.rsg__backdrop {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($black, 0.5);
  z-index: $zindex-modal-bg;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity $speed $ease;

  &.rsg__backdrop--touched {
    &.rsg__backdrop--open {
      animation-name: none;
      transform: none;
    }
  }

  &.rsg__backdrop--open {
    opacity: 1;
    pointer-events: all;
  }
}
