@import '../../styles/config';

.rsg__search {
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  .rsg__search__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $padding;
    z-index: 1;
  }

  &.rsg__search--block {
    width: 100%;
    display: block;
  }

  &.rsg__search--disabled {
    .rsg__search__icon {
      opacity: 0.5;
    }
  }

  &.rsg__search--extraSmall {
    .rsg__search__input {
      padding-left: 24px;
    }
  }

  &.rsg__search--small {
    .rsg__search__input {
      padding-left: 32px;
    }
  }

  .rsg__search__input {
    padding-left: 44px;
  }

  &.rsg__search--large {
    .rsg__search__input {
      padding-left: 52px;
    }
  }

  &.rsg__search--extraLarge {
    .rsg__search__input {
      padding-left: 64px;
    }
  }
}
